<!DOCTYPE html>  
  {% load static %}  
  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Wishlist of men's watch </title>


<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>  
<body>  
<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
				{% if user.is_authenticated %}
				<h4 style="color:white;">
  			  Hi {{ user.username }}!
					</h4>
					<p><a href="{% url 'logout' %}">logout</a></p>
				{% else %}
					<h3 class="agile-head" style="color:white;">You are not logged in</h3>
	
		    <li> <a href="{% url 'users:login' %}" ><i class="btn-agile" aria-hidden="true"> log In </i></a></li>
			<li> <a href="{% url 'users:signup' %}" ><i class="btn-agile" aria-hidden="true"> Sign Up </i></a></li>
			{% endif %}
			<div>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 7802825181</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">sahiljani490@gmail.com</a></li>
			</div>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-4 header-middle">
			<form action="#" method="post">
				<input type="search" name="search" placeholder="Search here..." required="">
					<input type="submit" value=" ">
				<div class="clearfix"></div>
			</form>
		</div>
		<!-- header-bot -->
			<div class="col-md-4 logo_agile">
				<h1><a href="{% url 'home:index' %}"><img style="height:70px;width:336px;margin:0px auto;position:relative;" src="{% static 'images/logos.svg' %}" alt=" "/></a></h1>
			</div>
        <!-- header-bot -->
		<div class="col-md-4 agileits-social top_content">
						<ul class="social-nav model-3d-0 footer-social w3_agile_social">
						                                   <li class="share">Share On : </li>
															<li><a href="https://www.facebook.com/sahil-jani-351630982023133/" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.instagram.com/sahil_jani_/" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>



		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item"><a class="menu__link" href="{% url 'home:index' %}">Home <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'home:about' %}"> About </a></li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men's Watch <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="{% url 'men:mens' %}"><img src="{% static 'images/top2.jpg' %}" alt=" "/></a>
									</div>
									<div class="col-sm-3 multi-gd-img" >
										<ul class="multi-column-dropdown" >
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Digital Watch</a></li>
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Automatic Watch</a></li>
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Chronograph Watch</a></li>
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Pilot Watch</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Analogue Watch</a></li>
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Diving Watch</a></li>
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Luxury Watch</a></li>
											<li><a href="{% url 'men:mens' %}" style="line-height: 3.5em;">Mechanical Watch</a></li>
										</ul>
									</div>
									
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women's Watch <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown" >
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Digital Watch</a></li>
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Automatic Watch</a></li>
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Chronograph Watch</a></li>
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Pilot Watch</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Analogue Watch</a></li>
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Diving Watch</a></li>
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Luxury Watch</a></li>
											<li><a href="{% url 'women:womens' %}" style="line-height: 3.5em;">Mechanical Watch</a></li>
										</ul>
									</div>
									<div class="col-sm-6 multi-gd-img multi-gd-text ">
										<a href="{% url 'women:womens' %}"><img src="{% static 'images/top1.jpg' %}" alt=" "/></a>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class="menu__item dropdown">
					   <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="{% url 'home:icons' %}">Web Icons</a></li>
									<li><a href="{% url 'home:typography' %}">Typography</a></li>
								</ul>
					</li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'home:contact' %}">Contact</a></li>
				  </ul>
				</div>
			  </div>
			</nav>	
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1"> 
						<a href={% url 'home:wishlist' %}>	
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</a>
  
						</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>





						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
									<form action="#" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text"  name="Name" required="">
								<label>Name</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="email" name="Email" required=""> 
								<label>Email</label>
								<span></span>
							</div> 
							<input type="submit" value="Sign In">
						</form>
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
															<li><a href="https://www.facebook.com/sahil-jani-351630982023133/" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.instagram.com/sahil_jani_/" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
														<div class="clearfix"></div>
														<p><a href="#" data-toggle="modal" data-target="#myModal2" > Don't have an account?</a></p>

						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<img src="{% static 'images/log_pic.jpg' %}" alt=" "/>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->
<!-- Modal2 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
									<form action="#" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text" style="border-bottom:0px;" name="Name" required="">
								<label>Name</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="email" name="Email" required=""> 
								<label>Email</label>
								<span></span>
							</div> 
							<div class="styled-input">
								<input type="password" name="password" required=""> 
								<label>Password</label>
								<span></span>
							</div> 
							<div class="styled-input">
								<input type="password" name="Confirm Password" required=""> 
								<label>Confirm Password</label>
								<span></span>
							</div> 
							<input type="submit" value="Sign Up">
						</form>
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
															<li><a href="https://www.facebook.com/sahil-jani-351630982023133/" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.instagram.com/sahil_jani_/" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
														<div class="clearfix"></div>
														<p><a href="#">By clicking register, I agree to your terms</a></p>

						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<img src="{% static 'images/log_pic.jpg' %}" alt=" "/>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Wishlist <span> Update </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="{% url 'home:index' %}">Home</a><i>|</i></li>
								<li> Update </li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
































<div class="col-md-6 contact-form" style="    margin-left: 413px; margin-top: 18px; text-align: center;">
	<h4 class="white-w3ls">Update <span>Form</span></h4>
					

<form method="POST"  >  

      {% csrf_token %}  
      <div class="styled-input agile-styled-input-top">
						
      <input type="text" style="border-bottom:0px;" name="product_name" maxlength="50" required="" id="id_product_name" value="{{ i.product_name }}">
     
      <label> Name: </label>
      </div>
      
      <div class="styled-input agile-styled-input-top">
			
      
      <input type="text" style="border-bottom:0px;" name="product_type" maxlength="50" required="" id="id_product_type" value="{{ i.product_type }}">

      <label>  Type: </label>
    
      </div>

      <div class="styled-input agile-styled-input-top">
		

      <input type="text" style="border-bottom:0px;" name="catagories" id="id_catagories" value="{{ i.catagories }}">

      <label>Catagories :</label>
      </div>
      <div class="styled-input agile-styled-input-top">
		  <br>
      <input type="text" style="border-bottom:0px;" name="pri" required="" id="id_pri" value="{{ i.pri }}">
        
      <label>Price:</label>
      
    </div>
      <div class="styled-input agile-styled-input-top">
		
      <br>
      <input type="text" style="border-bottom:0px;" name="size" id="id_size" value="{{ i.size }}">
      <label>Size: </label>
      
    </div>
      <div class="styled-input agile-styled-input-top">
		
      <br>
      <input type="text" style="border-bottom:0px;" name="disc" required="" id="id_disc" value="{{ i.disc }}">
      
      <label> Discount: </label>
      
      
      </div>
    <button type="submit" class="btn btn-success">Update</button>  
    
</form>

</div>
































<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
				<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						 // Slideshow 4
						$("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
						$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
							}
							});
						});
				</script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<!-- Custom-JavaScript-File-Links --> 
	<!-- cart-js -->
	<script src="{% static 'js/minicart.min.js' %}"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js --> 
	<!---->
							<script type='text/javascript'>//<![CDATA[ 
							$(window).load(function(){
							 $( "#slider-range" ).slider({
										range: true,
										min: 0,
										max: 9000,
										values: [ 1000, 7000 ],
										slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
										}
							 });
							$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

							});//]]>  

							</script>
						<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
					 <!---->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#country2').change(function(){
			$('.allcolors').hide();
			$('.'+$(this).val()).show();
		});
		$('#country1').change(function(){
			$('.allcolors').hide();
			$('.'+$(this).val()).show();
		});

	});
	



</script>



</body>  
</html> 